.items {
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 7rem;
  transition: all 0.5s;
}

.item:hover {
  transform: scale(1.025, 1.025);
  transition: all 0.5s;
}

.item > img {
  height: 100%;
}

@media (min-width: 1280px) {
  .item {
    margin-top: 1rem;
    height: 8.5rem;
  }

  .item > img {
    height: 100%;
    border-radius: 1.5rem !important;
    cursor: pointer;
  }

  .item.weak-glass:hover {
    cursor: pointer;
  }
}

.item-desc {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-desc > h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.item-desc > hr {
  margin: 0.15rem 3rem 0.3rem 0.5rem;
  border: 1px solid #658dc6ab;
  width: 5rem;
}

.item-desc > p {
  font-size: 0.9rem;
  line-height: 110%;
  font-weight: 500;
}

.item-desc > p > i {
  font-size: 0.8rem;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .item-desc {
    padding: 1rem;
  }

  .item-desc > h4 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 0.5rem;
  }

  .item-desc > hr {
    display: none;
  }

  .item-desc > p,
  .item-desc > p > i {
    font-size: 1.1rem;
    line-height: 100%;
    font-weight: 400;
    font-style: normal;
  }

  .item-desc > p > br {
    display: none;
  }
}

.item-more {
  display: none;
}

@media (min-width: 1280px) {
  .item-more {
    display: block;
    /* display: none; */
    position: fixed;
    right: 1rem;
    transition: all 0.5s;
    padding: 0.5rem;
    width: 2.75rem;
  }

  .item-more > h3 {
    font-size: 1.1rem;
  }

  .item-more:hover {
    border-radius: 0.75rem;
    background: linear-gradient(
      to right bottom,
      rgba(101, 142, 198, 0.4),
      rgba(66, 102, 150, 0.2)
    );
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.25);
  }

  .item-more:focus {
    outline: none;
  }
}
