.header {
  display: grid;
  grid-template-areas:
    "project"
    "supplement";
  grid-gap: 5vw;
  margin: 5vw;
}

@media (min-width: 1280px) {
  .header {
    grid-template-areas: "project supplement";
    grid-template-columns: auto min-content;
    height: 25vh;
  }
}

.project {
  width: 100%;
  height: auto;
  grid-area: project;
  display: flex;
  flex-direction: column;
}

.project-main {
  width: 100%;
  height: 25vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

@media (min-width: 1280px) {
  .project {
    justify-self: start;
    height: 25vh;
    flex-direction: row;
  }

  .project-main {
    height: 100%;
    flex-direction: column;
    width: min-content;
  }
}

.project-photo {
  height: 100%;
}

.project-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  margin-left: 0.5rem;
  width: 100%;
}

.project-name > h3 {
  font-size: 1.4rem;
  line-height: 120%;
}

.project-name > p {
  line-height: 120%;
  padding-left: 0.25rem;
}

@media (min-width: 1280px) {
  .project-name,
  .project-name > h3,
  .project-name > p {
    position: absolute;
    transform: scale(0, 0);
  }
}

.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.75rem 1rem 0.65rem 1rem;
  height: 100%;
}

.project-desc > h3 {
  position: absolute;
  transform: scale(0, 0);
  font-size: 3rem;
  line-height: 120%;
}

.project-desc > p {
  line-height: 120%;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 1280px) {
  .project-desc {
    margin-left: 1rem;
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  }

  .project-desc > h3 {
    position: relative;
    transform: scale(1, 1);
    padding-bottom: 1rem;
  }

  .project-desc > p {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 10rem;
  }
}

.project-supplement {
  grid-area: supplement;
  display: flex;
  justify-content: center;
  align-content: center;
}

.embedded-video {
  width: 100%;
  height: calc(calc(90vw - 1rem) * 9 / 16);
}

@media (min-width: 1280px) {
  .embedded-video {
    width: calc(calc(25vh - 2rem) * 16 / 9 - 4px);
    height: auto;
  }
}
