$black: #000000;
$white: #ffffff;
$pink: #ffccfb;
$skyblue: #97f6ff;
$lightgreen: #97ffa0;

html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: Roboto, sans-serif;
  display: inline-grid;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.section {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline-grid;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;

  &__title {
    background-color: $pink;
    color: $white;

    &_text {
      text-align: center;
      font-size: 10vw;
    }

    &_picture {
      margin: 0 0 10vw 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80vw;
    }
  }
}
