html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: Roboto, sans-serif;
  display: inline-grid;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.section {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline-grid;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.txt_black { color: #000000; }
.txt_white { color: #ffffff; }
.txt_pink { color: #ff8ff6; }
.txt_skyblue { color: #97f6ff; }
.txt_lightgreen { color: #97ffa0; }

.bg_black { background-color: #000000; }
.bg_white { background-color: #ffffff; }
.bg_pink { background-color: #ff8ff6; }
.bg_skyblue { background-color: #97f6ff; }
.bg_lightgreen { background-color: #97ffa0; }
