$image-height-max: 35vh;
$rounded-corner-weight: clamp(0px, 10vh, 25vw);

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  padding: 0;

  @include mobile {
    width: 700%;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x proximity;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    height: 100%;
  }

  @include desktop {
    height: 700%;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: y proximity;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }
}

.float-left-child {
  
  @include mobile {
    float: left;
  }

  @include desktop {
    float: center;
  }
}

section {
  padding: 0;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
  text-align: center;

  #h1 {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    color: black;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
  } 

  img {

    @include mobile {
      box-sizing: border-box;
      position: absolute;
      bottom: 0px;
      border-radius: $rounded-corner-weight $rounded-corner-weight 0 0;
      max-height: $image-height-max;
      max-width: 100vw;
      object-fit: scale-down;
      left: 50vw;
      transform: translate(-50%, 0%);
    }
  
    @include desktop {
      box-sizing: border-box;
      position: absolute;
      top: 0px;
      max-height: $image-height-max;
      max-width: 100vw;
      object-fit: scale-down;
      right: 0vw;
    }
    
  }
}