* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right top, #dca7e7, #a3f1ff);
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 1rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

h4 {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
}

.glass {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4)
  );
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25);
}

.sub-glass {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4)
  );
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.125);
}

.weak-glass {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.125);
}

img {
  border: 1px solid rgba(255, 255, 255, 0.18);
  object-fit: cover;
  border-radius: 1rem;
  display: block;
  box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.125);
}

@media (min-width: 1280px) {
  .glass {
    border-radius: 3rem;
    padding: 1rem;
  }

  .sub-glass {
    border-radius: 2rem;
    padding: 1rem;
  }

  .weak-glass {
    border-radius: 2rem;
    padding: 1rem;
  }

  img {
    border-radius: 2rem;
  }
}

.header {
  display: grid;
  grid-template-areas:
    "user"
    "sponsored";
  grid-gap: 5vw;
  margin: 5vw;
}

@media (min-width: 1280px) {
  .header {
    grid-template-areas: "user sponsored";
    grid-template-columns: min-content auto;
    height: 25vh;
  }
}

.user {
  width: 100%;
  height: auto;
  grid-area: user;
  display: flex;
  flex-direction: column;
}

.user-main {
  width: 100%;
  height: 25vw;
  grid-area: user;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

@media (min-width: 1280px) {
  .user {
    width: 50vw;
    justify-self: start;
    height: 25vh;
    flex-direction: row;
  }

  .user-main {
    height: 100%;
    flex-direction: column;
    width: min-content;
  }
}

.user-photo {
  height: 100%;
}

.user-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  margin-left: 0.5rem;
  width: 100%;
}

.user-name > h3 {
  font-size: 1.4rem;
  line-height: 120%;
}

.user-name > p {
  line-height: 120%;
  padding-left: 0.25rem;
}

@media (min-width: 1280px) {
  .user-photo {
    height: 100%;
  }

  .user-name,
  .user-name > h3,
  .user-name > p {
    position: absolute;
    transform: scale(0, 0);
  }
}

.user-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.75rem 1rem 0.65rem 1rem;
  height: 100%;
}

.user-desc > h3 {
  position: absolute;
  transform: scale(0, 0);
  font-size: 3rem;
  line-height: 120%;
}

.user-desc > p {
  line-height: 120%;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 1280px) {
  .user-desc {
    margin-left: 1rem;
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  }

  .user-desc > h3 {
    position: relative;
    transform: scale(1, 1);
    padding-bottom: 1rem;
  }

  .user-desc > p {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 10rem;
  }
}

.sponsored {
  height: 30vw;
  grid-area: sponsored;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
}

.sponsored-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
}

.sponsored-photo {
  height: 100%;
  object-fit: contain;
}

.sponsored-desc {
  width: 100%;
}

.sponsored-desc > h3 {
  font-size: 1.25rem;
  line-height: 120%;
  padding: 0.25rem 0rem 0.5rem 0.5rem;
}

.sponsored-desc > h4 {
  padding-left: 0.75rem;
  font-size: 1.15rem;
  line-height: 80%;
  font-weight: 600;
}

.sponsored-desc > p {
  padding-left: 0.75rem;
  font-size: 1rem;
}

@media (min-width: 1280px) {
  .sponsored {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .sponsored-photo {
    width: auto;
  }

  .sponsored-desc {
    width: 100%;
    padding: 2rem;
    margin-right: 1rem;
  }

  .sponsored-desc > h3 {
    font-size: 2.25rem;
    padding-bottom: 1rem;
  }

  .sponsored-desc > h4 {
    font-size: 1.5rem;
    line-height: 120%;
  }

  .sponsored-desc > p {
    font-size: 1.2rem;
    padding-left: 1rem;
  }
}

.categories {
  display: grid;
  grid-template-areas:
    "realeased"
    "school"
    "gamejam"
    "prototypes"
    "other";
  grid-gap: 5vw;
  margin: 5vw;
}

@media (min-width: 1280px) {
  .categories {
    grid-template-areas:
      "realeased school"
      "gamejam school"
      "gamejam prototypes"
      "other prototypes";
    grid-template-rows: auto auto 16rem auto;
  }
}

.category-title {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-title > object {
  max-height: 2.25rem;
}

@media (min-width: 1280px) {
  .category-title {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .category-title > object {
    max-height: 2.25rem;
  }

  .category-title > h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }
}

.category-unwrapped {
  transform: rotate(90deg);
}

.category-arrow {
  pointer-events: none;
  height: 100%;
  width: 3rem;
}

@media (min-width: 1280px) {
  .category-arrow {
    position: absolute;
    transform: scale(0, 0);
  }
}

.realeased {
  height: min-content;
  grid-area: realeased;
}

.school {
  height: min-content;
  grid-area: school;
}

.gamejam {
  height: min-content;
  grid-area: gamejam;
}

.prototypes {
  height: min-content;
  grid-area: prototypes;
}

.other {
  height: min-content;
  grid-area: other;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 7rem;
}

.item > img {
  height: 100%;
}

@media (min-width: 1280px) {
  .item {
    margin-top: 1rem;
    height: 8.5rem;
  }

  .item > img {
    height: 100%;
    border-radius: 1.5rem;
  }
}

.item-desc {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-desc > h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.item-desc > hr {
  margin: 0.15rem 3rem 0.3rem 0.5rem;
  border: 1px solid #658dc6ab;
  width: 5rem;
}

.item-desc > p {
  font-size: 0.9rem;
  line-height: 110%;
  font-weight: 500;
}

.item-desc > p > i {
  font-size: 0.8rem;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .item-desc {
    padding: 1rem;
  }

  .item-desc > h4 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 0.5rem;
  }

  .item-desc > hr {
    display: none;
  }

  .item-desc > p,
  .item-desc > p > i {
    font-size: 1.1rem;
    line-height: 100%;
    font-weight: 400;
    font-style: normal;
  }

  .item-desc > p > br {
    display: none;
  }
}

.item-more {
  display: none;
}

@media (min-width: 1280px) {
  .item-more {
    display: block;
    position: fixed;
    right: 1rem;
    transition: all 0.5s;
    padding: 0.5rem 0.75rem;
  }

  .item-more > h3 {
    font-size: 0.85rem;
  }

  .item-more:hover {
    border-radius: 0.75rem;
    background: linear-gradient(
      to right bottom,
      rgba(101, 142, 198, 0.4),
      rgba(66, 102, 150, 0.2)
    );
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.25);
  }
}

footer {
  padding: 1.5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1.5rem 1.5rem 0rem 0rem !important;
}

@media (min-width: 1280px) {
  footer {
    border-radius: 3rem 3rem 0rem 0rem !important;
  }
}

.footer-links {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 3rem);
  grid-template-rows: 3rem;
  margin-bottom: 0.75rem;
}

.footer-links > a {
  font-size: 1.5rem;
  color: #658ec6;
  border: 0.25rem solid #658ec6;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-decoration: none;
}

.sub-footer {
  font-size: 0.75rem;
  line-height: 120%;
}

.sub-footer > a {
  color: #658ec6;
  text-decoration: underline;
}

.hidden-items {
  position: absolute;
  transform: scale(0, 0);
}

.visible-items {
  position: relative;
  transform: scale(1, 1);
}

@media (min-width: 1280px) {
  .hidden-items {
    position: relative;
    transform: scale(1, 1);
  }
}
