* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #dca7e7, #a3f1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

.glass {
  background: white;
  width: 90vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2.5rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-dashboard {
  transform: translateX(-2.5vw);
  border-radius: 0rem 2.5rem 2.5rem 0rem;
  width: 95vw;
  margin-bottom: 0rem;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 2rem;
  margin: 0.5rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user img {
  margin: 1rem 1rem 1rem 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.username p {
  line-height: 120%;
}

/* GAMES */

.status {
  margin-top: 2rem;
}

.status h1 {
  font-size: 1.75rem;
  text-align: left;
  padding-left: 1rem;
}

.games {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2rem;
  margin: 1rem 0rem 0rem 0rem;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: left;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2rem;
  margin: 1rem 0rem 0rem 0rem;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: left;
}

.card img {
  border-radius: 1.5rem;
  width: 100px;
  height: 100px;
}

.card-info {
  padding-top: 1rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.card-info p {
  line-height: 50%;
  padding-left: 0.5rem;
}
